.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#banner {
	opacity: 0.7;
	width: 12%;
	height: 12%;
	margin-left: 44%;
	margin-top: 8%;
	display: none;
}

#inputBar {
	width: 50%;
	margin-left:25%;
	margin-top:2%;
	font-size: 32px;
	color: #666;
	display: none;
}

#message {
	text-align: center;
	margin-top: 5%;
	font-size: 32px;
	margin-top: 2%;
	font-family:sans-serif;
	color: #666;
	display: none;
}